<footer>
    <div
        style="justify-content: center; align-items: center; display: flex; background: #284B7D; background: #284B7D;">
        <div class="row" style=" width: 100%;justify-content: center;">
            <div class="row" style=" width: 100%;justify-content: center;margin-top: 10px;">
                <ul class="navbar-nav mr-auto ml-auto header-ul" style="display: contents;">
                    <li class="nav-item active">
                        <a class=" headertext4footermob " href="/">Home</a>
                    </li>
                    
                    <li class="nav-item active">
                        <a class=" headertext4footermob " href="3D-Puff">3D Puff</a>
                    </li>
                    
                    <li class="nav-item active">
                        <a class=" headertext4footermob " href="contact-us">Contact Us</a>
                    </li>
                    
                    <li class="nav-item active">
                        <a class=" headertext4footermob " href="packages">Packages</a>
                    </li>
                    
                    <li class="nav-item active">
                        <a class=" headertext4footermob " href="quoteform">Get a Quote</a>
                    </li>
                    
                    <li class="nav-item active">
                        <a class=" headertext4footermob " href="privacy-policy">Privacy Policy</a>
                    </li>
                    
                </ul>
            </div>
            <div style="width: 100%;justify-content: center;margin-top: 10px;">
                <p
                    style="color: #FFFFFF;font-family: source-sans-pro, sans-serif;font-size: 12px; font-weight: 400;line-height: 15px;text-align: center;padding: 0px;">
                    © Copyright 2017 QuadB Designs all rights reserved.</p>
            </div>
        </div>
    </div>
    <div class="row"
        style="margin-left: 0px;margin-right: 0px; margin-top: 18px;margin-bottom: 18px; justify-content: center; align-items: center; display: flex;width: 100%">
        <div class="col-5" style="padding: 0px !important;">
            <p
                style="color: #58585A;padding-left: 3px;
               font-family: Helvetica, Helvetica Neue, Arial, sans-serif;text-align: left;font-size: 12px;line-height: 14px;font-weight: bold;margin-bottom: 4PX;">
                Send us an e-mail</p>
            <p style="color: #58585A;padding-left: 0px;
                        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;text-align: left;font-size: 12px;line-height: 14px;font-weight: bold;"
                onclick="window.location.href = 'mailto:support@quadbdesigns.com';">
                support@quadbdesigns.com </p>
        </div>
        <div class="col-3" style="padding: 0px !important;">
            <p
                style="margin-bottom: 0px;color: #58585A;
               font-family: Helvetica, Helvetica Neue, Arial, sans-serif;text-align: center;font-size: 12px;line-height: 14px;font-weight: bold;" onclick="window.location.href = 'contact-us';">
                Contact us</p>
            <p class="hovercolor"
                style="margin-bottom: 0px;color: #58585A;
               font-family: Helvetica, Helvetica Neue, Arial, sans-serif;text-align: center;font-size: 12px;line-height: 14px;font-weight: bold;"
                onclick="window.location.href = 'tel:+16465832939';">
                +1 646 583 2939</p>
        </div>
        <div class="col-4" style="padding: 0px !important;">
            <p
                style="margin-bottom: 0px;color: #58585A;
               font-family: Helvetica, Helvetica Neue, Arial, sans-serif;text-align: center;font-size: 12px;line-height: 14px;font-weight: bold;">
                32 W 39th St floor 4,
                ,</p>
            <p
                style="margin-bottom: 0px;color: #58585A;
               font-family: Helvetica, Helvetica Neue, Arial, sans-serif;text-align: center;font-size: 12px;line-height: 14px;font-weight: bold;">
                New York, NY 10018</p>
            <p
                style="margin-bottom: 0px;color: #58585A;
               font-family: Helvetica, Helvetica Neue, Arial, sans-serif;text-align: center;font-size: 12px;line-height: 14px;font-weight: bold;">
                United States</p>
        </div>
    </div>
</footer>