 <footer style="justify-content: center; align-items: center; display: flex; background: #284B7D ;height: 239px;background: #284B7D; height: 239px;">
            <div class="row" style=" width: 100%;justify-content: center;">
                <div class="row" style=" width: 100%;justify-content: center;margin-top: 10px;">
                    <ul class="navbar-nav mr-auto ml-auto header-ul" style="display: contents;">
                        <li class="nav-item active" style="border-right: white 2px solid;">
                            <a class=" headertext4footer" href="index">Home</a>
                        </li>
                        <li class="nav-item active" style="border-right: white 2px solid;">
                            <a class=" headertext4footer" href="3D-Puff">3D Puff</a>
                        </li>
                        <!-- <li class="nav-item active" style="border-right: white 2px solid;">
                            <a class=" headertext4footer" href="#">Order</a>
                        </li> -->
                        <li class="nav-item active" style="border-right: white 2px solid;">
                            <a class=" headertext4footer" href="Samples">Samples</a>
                        </li>
                        <li class="nav-item active" style="border-right: white 2px solid;">
                            <a class=" headertext4footer" href="packages">Packages</a>
                        </li>
                        <li class="nav-item active" style="border-right: white 2px solid;">
                            <a class=" headertext4footer" style="font-weight: bold;" href="quoteform">Get a Quote</a>
                        </li>
                        <li class="nav-item active" style="border-right: white 2px solid;">
                            <a class=" headertext4footer" href="contact-us">Contact Us</a>
                        </li>
                        <li class="nav-item active">
                            <a class=" headertext4footer" href="privacy-policy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div style="width: 100%;justify-content: center;margin-top: 10px;">
                    <p
                        style="color: #FFFFFF;font-family: source-sans-pro, sans-serif;font-size: 24px; font-weight: 400;line-height: 32px;text-align: center;text-indent: 17px;padding: 0px;">
                        © Copyright 2019 QuadB Designs all rights reserved.</p>
                </div>
            </div>
        </footer>