<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=ENTER_YOUR_TAG_MANAGER_ID" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
    <div class="nav-container">
        <!--                 <div id="desktop-navbar"></div>-->
        <nav class="navbar  navbar-dark bg-transparent  px-5 py-4">
            <div class="row" style=" width: 100%;">
                <div class="col-3">
                    <div class="d-flex justify-content-center align-items-center">
                        <img style="margin-top: 10px; width: 255px;" class="logo-header"
                            src="images/QB Design 255x85-min.webp" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class=" justify-content-center align-items-center">
                        <p class="headertext1" style="margin-bottom: 5px;">Embroidery Digitizing + Vector Art </p>
                        <p>
                            <a class="headertext2 hovercolor" style="display: flex; justify-content: center;"
                                href="tel:+16465832939">+1 646 583 2939</a>
                        </p>
                    </div>
                </div>
                <!-- <div class="col-3">
                            <div class="d-flex justify-content-center align-items-center">
                                <p class="signinn">Sign In</p>
                            </div>
                        </div> -->
            </div>
            <div class="row" style=" width: 100%;justify-content: center;margin-top: 10px;">
                <ul class="navbar-nav mr-auto ml-auto header-ul" style="display: contents;">
                    <li class="nav-item active">
                        <a class=" headertext4 hovercolor" href="index">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class=" headertext4 hovercolor" href="vector">Vector Art</a>
                    </li>
                    <li class="nav-item active">
                        <a class=" headertext4 hovercolor" href="3D-Puff">3D Puff</a>
                    </li>
                    <!-- <li class="nav-item active">
                                <a class=" headertext4" href="#">Order</a>
                            </li> -->
                    <li class="nav-item active ">
                        <a class=" headertext4 hovercolor" href="Samples">Samples</a>
                    </li>
                    <li class="nav-item active">
                        <a class=" headertext4 hovercolor" href="packages">Packages</a>
                    </li>
                    <!-- <li class="nav-item active">
                                <a class=" headertext4 hovercolor" href="Download.html">Downloads</a>
                            </li> -->
                    <li class="nav-item active">
                        <a class=" headertext4 hovercolor" href="contact-us">Contact Us</a>
                    </li>
                    <li class="nav-item active">
                        <a class=" headertext4 hovercolor" style="font-weight: bold;" href="quoteform">Get a Quote</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</header>