<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=ENTER_YOUR_TAG_MANAGER_ID" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<style>
    #call-button-img {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: shake;
        animation-name: shake;
        animation-iteration-count: infinite;

    }

    @-webkit-keyframes shake {

        20%,
        70% {
            transform: rotate(-5deg);
        }

        30%,
        60% {
            transform: rotate(10deg);
        }

        40% {
            transform: rotate(-20deg);
        }

        50% {
            transform: rotate(20deg);
        }
    }

    @keyframes shake {

        20%,
        70% {
            transform: rotate(-5deg);
        }

        30%,
        60% {
            transform: rotate(10deg);
        }

        40% {
            transform: rotate(-20deg);
        }

        50% {
            transform: rotate(20deg);
        }
    }
</style>

<div class="d-lg-none position-fixed d-flex justify-content-center align-items-center" id="call-button"
    style="bottom: 8%; right: 10%; width: 50px; height: 50px; background-color: dodgerblue; border-radius: 50%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); z-index: 99999;"
    onclick='window.open("tel:+16465832939")'>
    <img src="images/baseline_call_white_18dp.png" style="width: 30px; height: 30px;" id="call-button-img">
</div>

<header>
    <div class="position-fixed h-100 w-100"
        style=" opacity: 1; backdrop-filter: blur(8px); -webkit-backdrop-filter: blur(8px); z-index: 16;" id="drawer">
        <div class="container h-100 w-100 pr-0">
            <div class="row h-100 w-100 mr-0 position-absolute">

                <div class="col-10 position-relative" style="background: white 0% 0% no-repeat padding-box;display: flex;
                        justify-content: center;
                        align-items: center;">
                    <div class="position-absolute w-100">
                        <p class="footer-text  text-center hovrr" style="color: #7F7F7F;font-size: 30px;margin-bottom: 30px; font-family: source-sans-pro, sans-serif;
                                font-weight: 700;" onclick="window.location.href = 'index.html';">Home</p>
                        <p class="footer-text  text-center" style="color: #7F7F7F;font-size: 30px;margin-bottom: 30px; font-family: source-sans-pro, sans-serif;
                                font-weight: 700;" onclick="window.location.href = 'vector.html';">Vectors</p>
                        <p class="footer-text  text-center" style="color: #7F7F7F;font-size: 30px;margin-bottom: 30px; font-family: source-sans-pro, sans-serif;
                                font-weight: 700;" onclick="window.location.href = '3D-Puff.html';">3D Puff</p>
                        <!-- <p class="footer-text  text-center" style="color: #7F7F7F;font-size: 30px;margin-bottom: 30px; font-family: source-sans-pro, sans-serif;
                                font-weight: 700;" onclick="window.location = '/'">Order</p> -->
                        <p class="footer-text  text-center" style="color: #7F7F7F;font-size: 30px;margin-bottom: 30px; font-family: source-sans-pro, sans-serif;
                                font-weight: 700;" onclick="window.location.href = 'Samples.html';">Samples</p>
                        <p class="footer-text  text-center" style="color: #7F7F7F;font-size: 30px;margin-bottom: 30px; font-family: source-sans-pro, sans-serif;
                                font-weight: 700;" onclick="window.location.href = 'pricing.html';">Packages</p>
                        <!-- <p class="footer-text  text-center" style="color: #7F7F7F;font-size: 30px;margin-bottom: 30px; font-family: source-sans-pro, sans-serif;
                                 font-weight: 700;" onclick="window.location.href = 'Download.html';">Downloads</p> -->
                        <p class="footer-text  text-center" style="color: #7F7F7F;font-size: 30px;margin-bottom: 30px; font-family: source-sans-pro, sans-serif;
                                font-weight: 700;" onclick="window.location.href = 'contact-us.html';">Contact Us</p>
                        <p class="footer-text  text-center" style="color: #7F7F7F;font-size: 30px;margin-bottom: 30px; font-family: source-sans-pro, sans-serif;
                                font-weight: 900;" onclick="window.location.href = 'quoteform.php';">Get a Quote</p>
                    </div>


                </div>
                <div class="col-2 d-flex justify-content-end pt-5 pl-0" id="cross">
                    <div id="mobile-cross">
                        <p class="m-0">X</p>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="nav-container">

        <nav class="navbar  navbar-dark bg-transparent ">
            <div class="row" style=" width: 100%; margin: 0 auto;">
                <div class="col-3">
                    <div style=" z-index: 10; margin-top: 20px; z-index:15 !important;" id="open-drawer">
                        <hr
                            style="width: 30px; height: 2px; background-color: #000;border-radius: 100px;  margin: 0px;">
                        <hr
                            style="width: 30px; height: 2px; background-color:#000; margin-top: 3px; margin-bottom: 0px; border-radius: 100px;margin-left: 0px;">
                        <hr
                            style="width: 18px; height: 2px; background-color: #000; margin-top: 3px; margin-bottom: 0px; border-radius: 100px; margin-left: 0px;">
                    </div>
                </div>
                <div class="col-6" style="padding: 0px !important;">
                    <div class="d-flex justify-content-center align-items-center">
                        <img style="margin-top: 10px;width: 126px;height: 42;" class="logo-headermob"
                            src="images/QB Design 126x42-min.webp" alt="">
                    </div>

                </div>

                <div class="col-3" style="display: flex; justify-content: flex-end;">
                    <img src="images/baseline_call_black_18dp.png" style="margin-top: 20px; width: 30px; ">
                </div>

            </div>
            <div class="row" style="width: 100%; margin: 0 auto;">
                <div style="width: 100%;">
                    <p class="headertext1mob" style="margin-bottom: 5px;">Embroidery Digitizing + Vector Art
                    <p style="display: flex; justify-content: center;">
                        <a class="headertext2mob hovercolor" style="margin-bottom: 5px;" href="tel:+16465832939">+1 646
                            583 2939</a>
                    </p>
                </div>
            </div>
        </nav>
    </div>

</header>
<script type="text/javascript">
        //script for drawer
        $("#drawer").css('display', 'none');
        $("#open-drawer").on("click", function () {
            if ($("#drawer").css('display') == 'none') {
                $("#drawer").css('display', 'block');
            } else {
                $("#drawer").css('display', 'none');
            }
        });
        $("#cross").on("click", function () {
            $("#drawer").css('display', 'none');
        });
        $("#mobile-cross").on("click", function () {
            $("#drawer").css('display', 'none');
        });
</script>